/**
// ==========================================================================
//  MAIN CSS FILE [ HEADER ]
// ==========================================================================
**/
  .wrapper {
   display: flex;
   background-color: #FDFEFE;  
   margin:20px;
   padding:10px;

  }
  .main {
       background-color: #FBFEF2;
       padding: 15px;
       justify-content:flex-start;
       width:75%;
  }
  .sidebar {
       background-color:#ECF0F6;
       border:1px dotted #000;
       padding: 15px;
       justify-content:flex-end;
       width:20%;
  }


/* CSS FILE COMMENTS [ INLINE ] */